@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Playfair+Display:wght@500&family=Roboto+Condensed&family=Roboto+Slab:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

header #main-menu {
    background-image: url(imges/mento2.jpeg);
    background-size: cover;
    height: 660px;
}

nav {
    width: 100%;
    height: 60px;
}

nav ul {
    /*side of list*/
    float: left;
}

nav ul li {
    float: left;
    list-style: none;
    /*to take bullet points*/
    position: relative;
    /*which allows us to add position:absolute inside sub items
    inside navigation*/
}

nav ul li a {
    display: block;
    color: #461cdd;
    font-size: 10px;
    padding: 22px 74px;
    /*top&bottom ,left&right*/
    text-decoration: none;
}

/*dropdown*/
nav ul li ul {
    display: none;
    position: absolute;
    background-color: white;
    padding: 4px;
    border-radius: 0px 0px 4px 4px;
    /*dropdown box corners*/

}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li {
    width: 200px;
    border-radius: 8px;
}

nav ul li ul li a:hover {
    background-color: #b9986c;
    /*highlighting effect while droping down cursor*/
}

.center {
    text-align: center;
}

.bg {
    background-color: rgb(80, 172, 209);
}
