@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Playfair+Display:wght@500&family=Roboto+Condensed&family=Roboto+Slab:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
}

header #main-menu {
  background-image: url(imges/pho.2.webp);
  background-size: cover;
  height: 660px;
}

nav {
  width: 100%;
  height: 60px;
}

nav ul {
  /*side of list*/
  float: left;
}

nav ul li {
  float: left;
  list-style: none;
  /*to take bullet points*/
  position: relative;
  /*which allows us to add position:absolute inside sub items
    inside navigation*/
}

nav ul li a {
  display: block;
  color: #461cdd;
  font-size: 10px;
  padding: 22px 74px;
  /*top&bottom ,left&right*/
  text-decoration: none;
}

/*dropdown*/
nav ul li ul {
  display: none;
  position: absolute;
  background-color: white;
  padding: 4px;
  border-radius: 0px 0px 4px 4px;
  /*dropdown box corners*/

}

nav ul li:hover ul {
  display: block;
}

nav ul li ul li {
  width: 200px;
  border-radius: 8px;
}

nav ul li ul li a:hover {
  background-color: #b9986c;
  /*highlighting effect while droping down cursor*/
}

.center {
  text-align: center;
}

.about{
    width:100%;
    padding: 78px 0px;
    background-color: black;
}
.about img{
    height: auto;
    width: 550px;
}
.about-text{
    width: 550px;

}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h1{
    color: white;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;

}
.about-text h5{
    color: rgb(235, 12, 12);
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 20px;
    letter-spacing: 2px;
    
}

.about-text p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 10px;
    margin-bottom: 45px;
}

button{
    background: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
button:hover{
    background: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;

}
